@page "/main-page"
@using Frontend.Client.Components
@using Models
@using static Frontend.Client.Models.WebSocketService
@inject NavigationManager NavigationManager
@inject WebSocketService WebSocketService
@inject IJSRuntime JSRuntime

<PageTitle>Main Page</PageTitle>

<div class="main-page" @onclick="hideContextMenu">
    <div class="main-block">
        <div class="main-top">
            <h1>Chat Room</h1>
            <button>SETTINGS</button>
        </div>
        <div class="main-content">
            <div class="message-container" id="messageContainer">
                @foreach (var message in messages)
                {
                    if (message.User == null)
                    {
                        <ServerAlertMessageComponent MessageContent="@message.Content" Timestamp="@message.Timestamp" />
                    }
                    else
                    {
                        <MessageComponent User="@message.User" MessageContent="@message.Content" Timestamp="@message.Timestamp" />
                    }
                }
            </div>
        </div>
        <div class="chat-input-box">
            <input type="text" placeholder="Type your message here" value="@newMessage" @oninput="e => newMessage = e.Value.ToString()" @onkeydown="HandleEnterKey" />
            <button class="sendMessageButton" @onclick="SendMessage">➤</button>
        </div>
    </div>
    <div class="user-block">
        <h1>CONNECTED USERS</h1>
        <ul class="user-list">
            @if (isBeingShown && position != null)
            {
                <div class="@contextDivClass" @onclick:stopPropagation="true">
                    <ContextMenu />
                </div>
            }

            @foreach (var user in users)
            {
                <li @oncontextmenu="showContextMenu" @oncontextmenu:preventDefault="true">@user</li>
            }
        </ul>
    </div>

</div>

@code {
    private string newMessage = string.Empty;
    private List<Message> messages = new List<Message>();
    bool isBeingShown = false;
    public ContextMenu contextMenu;
    string? contextDivClass;
    [CascadingParameter]
    private MainPage MainPageInstance { get; set; }
    private int boxWidth = 150;

    public class Position
    {
        public double top { get; set; }
        public double left { get; set; }
    }
    Position position = new Position { top = 0, left = 0 };

    public void hideContextMenu()
    {
        if (isBeingShown)
        {
            isBeingShown = false;
            contextDivClass = "hideDiv";
            InvokeAsync(StateHasChanged);
        }
    }

    public async Task showContextMenu(MouseEventArgs e)
    {
        //position = await JSRuntime.InvokeAsync<Position>("getElementPosition", e.ClientX - 50, e.ClientY);
        position.top = e.ClientY;
        position.left = e.ClientX;
        double pageWidth = await JSRuntime.InvokeAsync<double>("getPageWidth");
        double offset = boxWidth - (pageWidth - e.ClientX);
        if (offset > 0)
        {
            position.left -= offset;
        }

        isBeingShown = true;
        if (isBeingShown)
        {
            contextDivClass = "contextMenuDiv";
        }
        else
        {
            contextDivClass = "hideDiv";
        }
        InvokeAsync(StateHasChanged);
    }
    private List<string> users = new List<string>();

    protected override void OnInitialized()
    {
        HandleDisconnect();
        users = ClientManager.CurrentUsersList;
        WebSocketService.OnClosed += HandleDisconnect;
        WebSocketService.OnMessageReceived += MessageReceived;
        ClientManager.OnUserListUpdate += UpdateUserList;
    }

    private void HandleDisconnect()
    {
        if (!WebSocketService.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    private void UpdateUserList()
    {
        users = ClientManager.CurrentUsersList;
        InvokeAsync(StateHasChanged);
        Console.WriteLine("users in mainpage: " + string.Join(", ", users));
    }

    public void MessageReceived(Message message)
    {
        messages.Add(message);
        InvokeAsync(StateHasChanged);
    }

    private async Task SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(newMessage))
        {
            await WebSocketService.SendMessageAsync("DO SEND\r\nWITH\r\n" + newMessage);
            newMessage = string.Empty;
        }
    }

    private async void HandleEnterKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }
}

<style>
    .contextMenuDiv {
        top: @(position?.top ?? 0)px;
        left: @(position?.left ?? 0)px;
        position: absolute;
        z-index: 1000;
        background-color: #D9D9D9;
        color: #111111;
        border: solid 1px;
        border-radius: 6px;
        font-weight: bold;
        width: @(boxWidth)px;
    }

    .hideContextMenu {
        display: none;
    }


    .dynamicDivStyle li {
        width: max-content;
        list-style: none;
        margin-bottom: 7px;
    }

    .contextMenuDiv li:hover {
        cursor: pointer;
    }
</style>
